$gradient_dark: linear-gradient(180deg, #1792C7 0%, #00B8F0 100%);
$gradient_light: linear-gradient(180deg, #00B8F0 0%, #00B8F0 0.01%, #B2EEFC 73.96%);
$gradient_light_horizontal: linear-gradient(-90deg, #00B8F0 0%, #00B8F0 0.01%, #B2EEFC 73.96%);
$input-background: #F3F9FF;
$text: #2D3238;

$breakpoint_large-to-medium: 768px;
$breakpoint_medium-to-small: 320px;