.navButton {
    background-color: #fff;
    border: none;
    width: 10em;
    font-size: 1.2rem;
    line-height: 3.5em;
    font-weight: 600;
    padding: 0;
}
.navButton:hover {
    background-color: #eee;
    transition: background-color .2s ease-in;
    cursor: pointer;
}
.navButton.active {
    background-color: #000;
    color: #fff;
}
@media (min-width: 640px) {
    .navButton {
        background-color: #fff;
        border: none;
        width: 10em;
        line-height: 4em;
        font-size: 1rem;
        font-weight: 500;
    }
}