*{padding: 0;margin: 0;border: 0;}
*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;color: inherit;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*
    Размеры маленького тайла - 23.5%, большого - 49%, все тайлы квардратные, гэп - 2%.
*/
:root{
    --main-color: #b3e7ff;
    --backside-color: #e9f8ff;
    --text-color: #7fa3b4;
    --shadow-color: #89b0c2;
}
@media (orientation: landscape){
    :root {
        --square-width: 80vh;
        --square-height: 80vh;
        --small-fs: 2.2vh;
        --big-fs: 6vh;
        --name-tile-fs: 4vh;
        --viewport-unit: 1vh;
    }
}
@media (orientation: portrait){
    :root {
        --square-width: 80vw;
        --square-height: 80vw;
        --small-fs: 2.2vw;
        --big-fs: 6vw;
        --name-tile-fs: 4vw;
        --viewport-unit: 1vw;
    }
}
body{
    font-family: 'Rubik', sans-serif;
}
.outer-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inner-wrapper{
    width: var(--square-width);
    max-width: 1000px;
    height: var(--square-height);
    max-height: 1000px;
    flex: 0 1 auto;
    position: relative;
    perspective: 100vh;
}
.small-rectangle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: var(--text-color);
    background-color: var(--main-color);
    box-shadow: 0.1vw 0.1vw 0.2vw var(--shadow-color);
    font-size: var(--small-fs);
}
.big-rectangle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: var(--text-color);
    background-color: var(--main-color);
    box-shadow: 0.1vw 0.1vw 0.2vw var(--shadow-color);
    font-size: var(--big-fs);
}
.name {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: var(--text-color);
    background-color: transparent;
    font-size: var(--name-tile-fs);
    position: absolute;
    top: 0;
    left: 0;
    width: 49%;
    height: 23.5%;
}
.inner-wrapper-education{
    position: absolute;
}
.works{
    position: absolute;
    width: 49%;
    height: 49%;
    left: 0;
    top: 51%;
    background-color: var(--main-color);
    transition: all 0.5s ease-in-out;
    transform-style: preserve-3d;
    transform: translateZ(-2vh);
    box-shadow: none;
}
.works-back {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--small-fs);
    text-align: center;
    transform: rotateY(180deg) translateZ(2vh);
    background-color: var(--backside-color);
}
.works-front {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--big-fs);
    text-align: center;
    background-color: var(--main-color);
    transform: translateZ(2vh);
    box-shadow: 0.1vw 0.1vw 0.2vw #89b0c2;
}
.contacts{
    position: absolute;
    top: 0;
    left: 51%;
    height: 49%;
    width: 49%;
    background-color: transparent;
    transition: all 0.5s ease-in-out;
    transform-style: preserve-3d;
    transform: translateZ(-2vh);
    box-shadow: none;
}
.contacts-back{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: var(--small-fs);
    text-align: center;
    transform: rotateY(180deg) translateZ(2vh);
    background-color: var(--backside-color);
}
.contacts-back > div > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 calc(var(--viewport-unit) * 2);
}
.contacts-front{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--big-fs);
    text-align: center;
    background-color: var(--main-color);
    transform: translateZ(2vh);
    box-shadow: 0.1vw 0.1vw 0.2vw var(--shadow-color);
}
.rotated{
    transform: rotate3d(0, 1, 0, 180deg);
    transition: all 0.5s ease-in-out;
}
.about{
    position: absolute;
    width: 23.5%;
    height: 23.5%;
    top: 25.5%;
    left: 25.5%;
    transition: 0.5s ease-in-out;
}
.about-opened {
    position: absolute;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    font-size: 0;
    font-weight: 400;
    transition: 0.5s ease-in-out;
    padding: 0 calc(var(--viewport-unit) * 2);
}

.about__opened__text div{
    margin: 0 0 calc(var(--viewport-unit) * 3);
}
.about__opened__text span{
    font-style: italic;
    font-weight: 500;
}
.about__opened__text h2 {
    font-weight: 600;
    display: inline;
}
.about-closed {
    position: absolute;
    background-color:var(--main-color);
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    transition: 0.1s ease-in-out;
    transition-delay: 0.4s;
}
.worked__place {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-weight: 500;
    padding: 20% calc(var(--viewport-unit) * 4) 0;
}
.worked__place__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 calc(var(--viewport-unit) * 2);
    font-weight: 300;
}
.worked__place__details {
    display: flex;
    flex-direction: column;
}
.worked__place__details__position {
    align-self: center;
    margin: 0 0 calc(var(--viewport-unit) * 2);
}
.worked__place__details__duties {
    font-weight: 400;
    line-height: 1.5;
    /*font-size: calc(var(--small-fs) * 0.9);
    transition: font-size 0.1s 0.4s ease-in-out;*/
}
.worked__place__details__duties span {
    font-weight: 500;
}
.experience{
    position: absolute;
    height: 23.5%;
    width: 23.5%;
    top: 76.5%;
    left: 76.5%;
    transition: 0.5s ease-in-out;
    overflow: hidden;
}
.experience-opened {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color:var(--main-color);
    font-size: 0;
    transition: 0.5s ease-in-out;
    line-height: 1.2;
    box-sizing: border-box;
}
.experience-closed {
    position: absolute;
    background-color:var(--main-color);
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    transition: 0.1s ease-in-out;
    transition-delay: 0.4s;
}
.experience-opened__button__previous, .experience-opened__button__next {
    position: absolute;
    bottom: 5%;
    height: 10%;
    width: 30%;
    border-radius: 5%;
    border: 3px solid #fff;
    background-color: transparent;
    opacity: 0.5;
    transition: opacity 0.3s;
    cursor: pointer;
}
.experience-opened__button__previous{
    left: 5%;
}
.experience-opened__button__next {
    right: 5%;
}
.experience-opened__button__previous::after, .experience-opened__button__next::after{
    content: "";
    position: absolute;
    width: 15%;
    height: 45%;
    top: 50%;
    left: 50%;
    border-right: 2px solid #fff;
    border-bottom:  2px solid #fff;
    transform: translate(-25%, -50%) rotate(135deg);
}
.experience-opened__button__next::after{
    transform: translate(-75%, -50%) rotate(-45deg);
}
.experience-opened__button__previous:hover, .experience-opened__button__next:hover{
    opacity: 1;
    transition: opacity 0.3s;
}
.inactive-button{
    display: none;
}
/*было здесь*/
.slide-previous{
    position: absolute;
    top: 0;
    left:-100%;
    transition: left 0.5s;
}
.slide-next{
    position: absolute;
    top: 0;
    left: 100%;
    transition: left 0.5s;
}
.slide-active{
    position: relative;
    left: 0;
    transition: left 0.5s;
}
.education{
    position: absolute;
    width: 23.5%;
    height: 23.5%;
    top: 51%;
    left: 51%;
    transition: 0.5s ease-in-out;
}
.education__header {
    display: flex;
    flex-direction: column;
    margin: 0 0 calc(var(--viewport-unit) * 4);
}
.education__header__university {
    margin: 0 0 var(--viewport-unit);
}
.education__header__dates {
    align-self: center;
    font-weight: 300;
}
.education__details {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.education__details__faculty {
    margin: 0 0 var(--viewport-unit);
}
.education__details__specialty {
    margin: 0 0 var(--viewport-unit);
    font-weight: 300;
    text-align: center;
}
.education__details__specialty span{
    font-weight: 500;
}
.education-opened{
    background-color:var(--main-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0;
    transition: 0.5s ease-in-out;
}
.education-closed{
    position: absolute;
    background-color:var(--main-color);
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    transition: 0.1s ease-in-out;
    transition-delay: 0.4s;
}
.expanded{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}
.expanded > div:first-child{
    font-size: var(--small-fs);
    transition: 0.5s ease-in-out;
}
.expanded > div:last-child{
    font-size: 0;
    transition: 0.05s;
}