.container {
  width: 100%;
  max-width: 1280px;
  min-height: 100svh;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr auto;
  font-size: 1rem;
}
.navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  grid-row: 2;
}
h1 {
  font-size: 2rem;
  font-weight: 800;
  text-align: center;
  line-height: 1.5em;
}
h3 {
  font-size: 1.2rem;
  font-weight: 800;
}
div {
  margin: .8rem 0;
  font-size: 1rem;
}
.content {
  padding: 1em 4em 2em 2em;
  min-height: 0;
  max-height: calc(100svh - 11.4rem);
  overflow: scroll;
}
ol {
  list-style-type: decimal;
  margin-left: 2em;
}
ul {
  list-style-type: circle;
}
li {
  margin-bottom: .6em;
}
hr {
  margin: 2em 0;
}
.work-date {
  margin: 0;
}
.jobtitle {
  font-weight: 500;
}
.jobs-header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

@media (min-width: 640px) {
  .container {
    min-height: auto;
    grid-template-columns: 10rem auto;
    grid-template-rows: 100%;
  }
  .content {
    max-height: fit-content;
    overflow: hidden;
  }
  .navigation {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    grid-row: inherit;
  }
  div {
    margin: .8rem 0;
    font-size: 1rem;
  }
}

