*{padding: 0;margin: 0;border: 0;}
*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;color: inherit;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}

:root{
    --text-title: #555555;
    --text-caption: #888888;
    --gray-line: #F7F7F7;
    --brand-primary: #EE9591;
    --brand-background-soft: #FEF8F8;
    --reset-color: #ffffff;
    --brand-background-hard: #FFEEEE;
    --brand-gradient: linear-gradient(137.82deg, #EE9591 15.24%, #BC5853 78.94%);;
    --gradient: linear-gradient(117.78deg, #F9A8A5 34.55%, #E28A86 79.96%);
}
*{
    box-sizing: border-box;
}
body{
    width: 100%;
    font-family: 'Roboto';
    font-style: normal;
}
.back-button{
    position: fixed;
    top: 0;
    left: 0;
    width: 10%;
    min-width: 100px;
    opacity: 0.5;
}
.back-button div{
    padding: 30px 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 1vw;
    line-height: 26px;
    letter-spacing: -0.3px;
    text-align: center;
    color: var(--reset-color);
    background-color: var(--text-caption);
}
.wrapper {
    width: 100%;
    background-color: var(--brand-background-soft);
}
nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.right-group__text-menu{
    display: none;
}
.left-group > img{
    height: 24px;
    width: 114px;
}
.right-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.right-group > button{
    padding: 6px 8px;
    background-color: var(--brand-primary);
    box-shadow: 6px 7px 24px rgba(234, 141, 136, 0.5);
    border-radius: 4px;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: var(--gray-line);
}
.menu{
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
}
.menu > img{
    vertical-align: middle;
}
.group-1__right{
    display: none;
}
.group-1 {
    background: top 18px right 20px no-repeat url(./assets/Group-1-bg.png);
    width: 100%;
    padding: 38px 20px 50px;
}
.group-1__left > h2{
    font-weight: 900;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: 0.3px;
    color: var(--text-title);
    text-align: left;
    margin: 0 0 22px;
}
.group-1__left > h2 > span{
    color: var(--brand-primary);
}
.group-1__text{
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.3px;
    color: var(--text-caption);
    margin: 0 0 22px;
}
.group-1__list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 14px;
    align-items: center;
    margin: 0 0 26px;
}
.group-1__list > li{
    padding-left: 22px;
    background-image: url(./assets/Group-1-list-marker.svg);
    background-position: 0 4px;
    background-size: 16px 16px;
    background-repeat: no-repeat;
    font-weight: 700;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: -0.3px;
    color: var(--text-caption);
}
.group-1__button {
    padding: 14px 21px;
    background-color: var(--brand-primary);
    box-shadow: 16px 16px 50px rgba(179, 94, 90, 0.3);
    border-radius: 10px;
    margin: 0 auto;
    color: var(--gray-line);
}
.group-1__button__header {
    font-weight: 700;
    font-size: 15px;
    line-height: 26px;
    text-align: center;
    letter-spacing: -0.3px;
    margin-bottom: 2px;
}
.group-1__button__text {
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.3px;
}
.group-2 {
    background: linear-gradient(180deg, #FFFFFF 71.75%, rgba(255, 255, 255, 0) 97%);
    padding: 20px 20px 80px;
}
.group-2__annotation {
    text-align: left;
    color: var(--text-caption);
    margin: 0 0 40px;
}
.group-2__annotation__header {
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    color: var(--text-title);
    margin: 0 0 15px;
}
.group-2__annotation__transcription {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.3px;
    margin: 0 0 15px;
}
.group-2__annotation__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.3px;
}
.group-2__annotation__text > span {
    font-weight: 700;
    text-decoration: underline;
}
.group-2__annotation__line{
    display: none;
}
.group-2__slide-1, .group-2__slide-2 {
    background-image: url(./assets/ic_dots.png), linear-gradient(297.32deg, #F9A8A5 -8.77%, #E28A86 64.16%);
    background-position: top 20px right 21px, center;
    background-size: 61px 61px, 100%;
    background-repeat: no-repeat, no-repeat;
    border: 8px solid #F4F4F4;
    box-shadow: -40px 40px 50px rgba(85, 85, 85, 0.14);
    border-radius: 20px;
    color: var(--reset-color);
    padding: 34px 40px 24px;
}
.group-2__slide-1{
    margin: 0 0 20px;
}
.group-2__slide-1__header, .group-2__slide-2__header {
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    margin: 0 0 10px;
}
.group-2__slide-1__text, .group-2__slide-2__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.3px;
    margin: 0 0 10px;
}
.group-2__slide-1__footnote, .group-2__slide-2__footnote {
    font-weight: 400;
    font-size: 10px;
    line-height: 18px;
    letter-spacing: -0.3px;
}
.group-3 {
    padding: 0 20px 0;
    margin: 0 0 112px;
    background-image: url(./assets/group-3-bg.svg);
    background-position: top 214px left 215px;
    background-size: 229px 229px;
    background-repeat: no-repeat;
}
.group-3__header {
    margin: 0 0 40px;
}
.group-3__header__text {
    font-weight: 700;
    font-size: 26px;
    line-height: 46px;
    text-align: center;
    color: var(--text-title);
}
.group-3__header__text > span {
    color: var(--brand-primary);
}
.group-3__header__footnote {
    display: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: -0.3px;
    color: var(--text-caption);
}
.group-3__panels {
    margin: 0 0 112px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;
}
.group-3__column-1, .group-3__column-2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.group-3__panel {
    padding: 20px 15px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 30px 30px 60px rgba(85, 85, 85, 0.1);
    border-radius: 16px;
    background-color: var(--brand-background-soft);
}
.group-3__panel__icons {
    position: relative;
    margin: 0 0 16px;
}
.group-3__panel__icons > div{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.group-3__panel__icons img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.group-3__panel__icons > :first-child{
    margin-left: 69px;
}
.group-3__panel__icons > :nth-child(2){
    position: absolute;
    top: 0;
    left: 46px;
}
.group-3__panel__icons > :nth-child(3){
    position: absolute;
    top: 0;
    left: 23px;
}
.group-3__panel__icons > :nth-child(4){
    position: absolute;
    top: 0;
    left: 0;
}
.group-3__panel__text {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: -0.3px;
    color: var(--text-caption);
    margin: 0 auto;
}
.group-3__text__line {
    display: none;
}
.group-3__text__header {
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    color: var(--text-title);
    text-align: left;
    margin: 0 0 45px;
}
.group-3__text__header > span {
    color: var(--brand-primary);
}
.group-3__text__anotation {
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    letter-spacing: -0.3px;
    color: var(--text-caption);
    margin: 0 0 45px;
}
.group-3__text__anotation > span {
    font-weight: 700;
}
.group-3__text__list {
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.3px;
    color: var(--text-caption);
}
.group-3__text__list > li {
    margin-bottom: 16px;
    padding-left: 28px;
    background: url(./assets/Group-1-list-marker.svg);
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: top left;
}
.group-4 {
    padding: 0 20px 100px;
    overflow: visible;
    background: url(./assets/Group4-bg.svg);
    background-repeat: no-repeat;
    background-size: 72px 80px;
    background-position: bottom 74px center;
}
.group-4-line {
    display: none;
}
.group-4__header {
    margin: 0 0 40px;
    font-weight: 700;
    font-size: 26px;
    line-height: 40px;
    color: var(--text-title);
}
.group-4__header > span {
    color: var(--brand-primary);
}
.group-4__panels {
    display: grid;
    gap: 20px;
    grid-template: repeat(4, 1fr) / 1fr 1fr;
}
.group-4__panel {
    padding: 14px 15px;
    background-color: var(--brand-background-soft);
    box-shadow: -20px 20px 40px rgba(85, 85, 85, 0.08);
    border-radius: 16px;
}
.group-4__panel__picture {
    width: 50px;
    height: 50px;
    margin: 0 auto 10px;
}
.group-4__panel__picture > img {
    width: 100%;
    height: 100%;
}
.group-4__panel__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.3px;
    color: var(--text-caption);
}
.group-5 {
    padding: 0 20px;
    margin: 0 0 101px;
}
.group-5__header__title {
    margin: 0 0 20px;
    font-weight: 700;
    font-size: 26px;
    line-height: 40px;
    text-align: center;
    color: var(--text-title);
}
.group-5__header__title > span {
    color: var(--brand-primary);
}
.group-5__header__anotation {
    margin: 0 0 50px;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.3px;
    color: var(--text-caption);
}
.group-5__slides {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    gap: 50px 20px;
}
.group-5__slide {
    text-align: left;
}
.group-5__slide__picture {
    position: relative;
    width: 100%;
    border-radius: 16px;
    margin: 0 auto 9px;
    overflow: hidden;
    box-shadow: 22px 22px 34px rgba(0, 0, 0, 0.12);
}
.group-5__slide__picture > img {
    width: 100%;
    height: 100%;
    object-fit: cover ;
}
.group-5__slide__picture::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--brand-primary);
    opacity: 0.4;
}
.group-5__slide__name {
    margin: 0 0 2px;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.2px;
    color: var(--text-title);
}
.group-5__slide__position {
    margin: 0 0 2px;
    font-weight: 500;
    font-size: 10px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: var(--brand-primary);
}
.group-5__slide__status {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: var(--text-caption);
}
.group-6 {
    padding: 0 20px;
    margin: 0 0 69px;
    text-align: left;
}
.group-6__slide__tablet{
    display: none;
}
.group-6__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: var(--brand-primary);
}
.group-6__header {
    margin: 0 0 17px;
    font-weight: 700;
    font-size: 26px;
    line-height: 54px;
    letter-spacing: -0.3px;
    color: var(--text-title);
}
.group-6__header > span {
    color: var(--brand-primary);
}
.group-6__slide-left {
    margin: 0 0 17px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.group-6__slide-left > div {
    position: relative;
}
.group-6__slide-left > div:first-child::after {
    content: '';
    position: absolute;
    right: 2px;
    bottom: 3px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--brand-primary);
}
.group-6__slide-left > div:first-child::before {
    content: '';
    position: absolute;
    right: 3px;
    top: 1px;
    width: 31px;
    height: 9px;
    background-image: url(./assets/Group6-img-bg.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 31px 9px;
}
.group-6__slide__picture {
    position: relative;
    width: 66px;
    height: 66px;
    border: 3px solid #FFEEEE;
    border-radius: 50%;
    border-top-left-radius: 0;
    overflow: hidden;
}
.group-6__slide__picture > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.group-6__slide__text {
    padding: 12px 0 12px 19px;
    display: flex;
    flex-direction: column;
}
.group-6__slide__header {
    margin-bottom: 2px;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.2px;
    color: var(--text-caption);
}
.group-6__slide__anotation {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: var(--brand-primary);
}
.group-6__text {
    margin: 0 0 17px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.3px;
    color: var(--text-caption);
}
.group-6__next {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: var(--text-caption);
    vertical-align: middle;
}
.group-6__next > img {
    padding-left: 6px;
    width: 20px;
    height: 20px;
}
.footer__mobile {
    background-color: var(--brand-primary);
    border-top-right-radius: 90px;
    padding: 30px 20px 20px;
    color: var(--reset-color);
}
.foote__tablet{
    display: none;
}
.footer-logo {
    width: 171px;
    height: 36px;
    margin: 0 0 20px;
}
.footer-logo > img {
    width: 100%;
    height: 100%;
}
.footer-text {
    margin: 0 0 35px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.3px;
}
.footer-text > span:first-child {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.3px;
}
.footer-text > span:last-child {
    font-style: italic;
}
.footer-support {
    width: 142px;
    height: 34px;
    margin: 0 0 14px;
    opacity: 0.6;
}
.footer-support > img {
    width: 100%;
    height: 100%;
}
.footer-copyright {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.3px;
}
.footer-copyright > span {
    font-weight: 700;
}
@media (min-width: 800px) {
    .tablet{
        display: inherit;
    }
    nav{
        padding: 36px 40px;
        margin: 0 0 18px;
    }
    .left-group > img{
        width: 190px;
        height: 40px;
    }
    .right-group__text-menu{
        display: none;
    }
    .right-group {
        gap: 40px;
    }
    .right-group > button{
        padding: 10px 8px;
        box-shadow: 10px 10px 30px rgba(234, 141, 136, 0.4);
        border-radius: 6px;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        letter-spacing: -0.3px;
    }
    .menu{
        width: 32px;
        height: 32px;
        line-height: 32px;
    }
    .group-1__right{
        display: none;
    }
    .group-1 {
        background: url(./assets/Group-1-bg-800px.svg);
        background-position: top 47px left 80px;
        background-repeat: no-repeat;
        background-size: 108px 32px;
        padding: 47px 80px 121px;
    }
    .group-1__left > h2{
        font-size: 70px;
        line-height: 80px;
        margin: 55px 0 35px;
    }
    .group-1__text{
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        margin: 0 0 35px;
    }
    .group-1__list{
        justify-content: flex-start;
        gap: 30px;
        margin: 0 0 40px;
    }
    .group-1__list > li{
        padding-left: 30px;
        background-image: url(./assets/Group-1-list-marker.svg);
        background-position: top 0 bottom 2px;
        background-size: 22px 22px;
        font-size: 16px;
        line-height: 24px;
    }
    .group-1__button {
        width: 51%;
        min-width: 412px;
        padding: 15px 22px;
        box-shadow: 16px 16px 60px rgba(179, 94, 90, 0.4);
        margin: 0;
    }
    .group-1__button__header {
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 6px;
    }
    .group-1__button__text {
        font-size: 14px;
        line-height: 22px;
    }
    .group-2 {
        background: linear-gradient(180deg, #FFFFFF 71.75%, rgba(255, 255, 255, 0) 97%), url(./assets/group-2-bg.svg);
        background-position: center, top 308px center;
        background-repeat: no-repeat, no-repeat;
        background-size: 100%, 434px 434px;
        padding: 80px 80px 232px;
    }
    .group-2__annotation {
        margin: 0 0 102px;
    }
    .group-2__annotation__header {
        font-size: 40px;
        line-height: 50px;
        margin: 0 0 20px;
    }
    .group-2__annotation__transcription {
        font-size: 16px;
        line-height: 26px;
        margin: 0 0 20px;
    }
    .group-2__annotation__text {
        font-size: 16px;
        line-height: 28px;
    }
    .group-2__annotation__line{
        display: none;
    }
    .group-2__slides{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 40px;
    }
    .group-2__slide-1, .group-2__slide-2 {
        background-image: url(./assets/ic_dots.png), linear-gradient(117.78deg, #F9A8A5 34.55%, #E28A86 79.96%);
        flex: 1 0 286px;
        border: 8px solid var(--gray-line);
        padding: 34px 40px 28px;
    }
    .group-2__slide-1{
        margin: 0;
    }
    .group-3 {
        padding: 0 80px;
        margin: 0;
        background-image: url(./assets/group-3-bg.svg);
        background-position: top 216px center;
        background-size: 534px 530px;
        background-repeat: no-repeat;
    }
    .group-3__header {
        margin: 0 0 102px;
    }
    .group-3__header__text {
        font-size: 40px;
        line-height: 50px;
        margin: 0 0 20px;
    }
    .group-3__header__footnote {
        display: block;
    }
    .group-3__panels {
        gap: 50px;
        margin: 0 0 177px;
        padding: 0 35px;
    }
    .group-3__column-1, .group-3__column-2 {
        gap: 50px;
    }
    .group-3__panel {
        padding: 30px 30px 24px;
    }
    .group-3__panel__icons {
        margin: 0 0 24px;
    }
    .group-3__panel__icons > div{
        width: 80px;
        height: 80px;
    }
    .group-3__panel__icons > :first-child{
        margin-left: 120px;
    }
    .group-3__panel__icons > :nth-child(2){
        left: 80px;
    }
    .group-3__panel__icons > :nth-child(3){
        left: 40px;
    }
    .group-3__panel__text {
        font-size: 14px;
        line-height: 22px;
    }
    .first-panel{
        margin-top: 60px;
    }
    .group-3__text {
        background-image: url(./assets/Group4-bg.svg);
        background-position: bottom 113px right 30px;
        background-size: 109px 122px;
        background-repeat: no-repeat;
        padding: 0 0 119px;
    }
    .group-3__text__line{
        display: block;
        position: relative;
        top: 0;
        left: calc(50% - 60px/2 - 220px);
        width: 60px;
        height: 12px;
        border-radius: 100px;
        background-color: #EE9591;
        margin: 0 0 31px;
    }
    .group-3__text__header {
        font-size: 40px;
        line-height: 54px;
        margin: 0 0 58px;
    }
    .group-3__text__anotation {
        font-size: 16px;
        line-height: 28px;
        margin: 0 0 58px;
    }
    .group-3__text__list {
        font-size: 16px;
        line-height: 22px;
    }
    .group-3__text__list > li {
        margin-bottom: 22px;
    }
    .group-4 {
        padding: 0 80px 150px;
        background: url(./assets/Group4-bg-800px.svg);
        background-repeat: no-repeat;
        background-size: 148px 121px;
        background-position: top 355px left 24px;
    }
    .group-4-line{
        display: block;
        margin: 0 0 30px;
        position: relative;
        width: 100px;
        height: 12px;
        left: calc(50% - 100px/2 - 254px);
        top: 0px;
        background: var(--brand-primary);
        border-radius: 100px;
    }
    .group-4__header {
        margin: 0 0 68px;
        font-size: 40px;
        line-height: 54px;
    }
    .group-4__panels {
        gap: 48px;
    }
    .group-4__panel {
        padding: 30px 24px 32px;
        box-shadow: 50px 50px 60px rgba(85, 85, 85, 0.08);
    }
    .group-4__panel__picture {
        width: 82px;
        margin: 0 auto 22px;
    }
    .group-4__panel__picture > img {
        width: 100%;
        height: 100%;
        object-fit: contain ;
    }
    .group-4__panel__text {
        font-size: 26px;
        line-height: 40px;
    }
    .group-5 {
        padding: 0 80px;
        margin: 0 0 150px;
    }
    .group-5__header__title {
        margin: 0 0 16px;
        font-size: 40px;
        line-height: 54px;
    }
    .group-5__header__anotation {
        margin: 0 0 65px;
        font-size: 16px;
        line-height: 26px;
    }
    .group-5__slides {
        gap: 68px 48px;
    }
    .group-5__slide__picture {
        margin: 0 auto 26px;
        box-shadow: 22px 22px 34px rgba(0, 0, 0, 0.12);
    }
    .group-5__slide__name {
        margin: 0 0 4px;
        font-size: 18px;
        line-height: 28px;
    }
    .group-5__slide__position {
        margin: 0 0 4px;
        font-size: 14px;
        line-height: 22px;
    }
    .group-5__slide__status {
        font-size: 14px;
        line-height: 22px;
    }
    .group-6 {
        padding: 0 80px;
        margin: 0 0 140px;
        text-align: left;
    }
    .group-6__title {
        font-size: 18px;
        line-height: 28px;
        margin: 0 0 3px;
    }
    .group-6__header {
        margin: 0 0 40px;
        font-size: 40px;
        line-height: 54px;
    }
    .group-6__slide__mobile{
        display: none;
    }
    .group-6__slide__tablet{
        display: flex;
        flex-direction: row;
        justify-content: stretch;
        gap: 30px;
    }
    .group-6__slide-left {
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    .group-6__slide-left > div {
        position: relative;
    }
    .group-6__slide-left > div:first-child::after {
        content: '';
        position: absolute;
        right: 8px;
        bottom: 10px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: var(--brand-primary);
    }
    .group-6__slide-left > div:first-child::before {
        content: '';
        position: absolute;
        right: 3px;
        top: 1px;
        width: 62px;
        height: 20px;
        background-image: url(./assets/Group6-img-bg.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 62px 20px;
    }
    .group-6__slide__picture {
        position: relative;
        width: 180px;
        height: 180px;
        border-radius: 50%;
        border-top-left-radius: 0;
        overflow: hidden;
    }
    .group-6__slide__picture > img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .group-6__slide__right{
        display: flex;
        flex-direction: column;
    }
    .group-6__slide__header {
        font-size: 14px;
        line-height: 22px;
    }
    .group-6__slide__anotation {
        margin: 0 0 16px;
        font-size: 12px;
        line-height: 18px;
    }
    .group-6__text {
        margin: 0 0 16px;
        font-size: 16px;
        line-height: 28px;
    }
    .group-6__next {
        font-size: 14px;
        line-height: 16px;
        vertical-align: middle;
    }
    .group-6__next > img {
        padding-left: 6px;
        width: 20px;
        height: 20px;
    }
    .footer__mobile{
        display: none;
    }
    .foote__tablet {
        background-color: var(--brand-primary);
        border-top-right-radius: 90px;
        color: var(--reset-color);
        padding: 80px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 60px;
    }
    .footer-left{
        flex: 0 1 340px;
    }
    .footer-logo {
        width: 237px;
        height: 50px;
        margin: 0 0 30px;
    }
    .footer-logo > img {
        width: 100%;
        height: 100%;
    }
    .footer-text {
        margin: 0 0 37px;
        font-size: 14px;
        line-height: 24px;
    }
    .footer-support {
        margin: 6.5px 0;
        width: 142px;
        height: 34px;
        margin: 0 0 6px;
        opacity: 0.6;
    }
    .footer-copyright {
        font-size: 14px;
        line-height: 24px;
    }
    .footer-right-about, .footer-right-support {
        margin-top: 96px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 14px;
    }
    .footer-right-about > div:first-child, .footer-right-support > div:first-child {
        margin-bottom: 16px;
        font-weight: 700;
        font-size: 18px;
        line-height: 26px;
    }
}
@media (min-width: 1440px) {
    body {
        background-color: var(--brand-background-soft);
    }
    .wrapper {
        position: relative;
        max-width: 1440px;
        margin: 0 auto;
        background: url(./assets/footer_bg.png), linear-gradient(#ffffff, #ffffff);
        background-position: bottom right, bottom 41px right 211px;
        background-repeat: no-repeat, no-repeat;
        background-size: 465px 280px, 1440px 1774px;
        background-color: var(--brand-background-soft);
    }
    nav{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 36px 100px;
    }
    .left-group > img{
        width: 190px;
        height: 40px;
    }
    .menu {
        display: none;
    }
    .right-group {
        gap: 60px;
    }
    .right-group > button{
        padding: 10px 8px;
        box-shadow: 10px 10px 30px rgba(234, 141, 136, 0.4);
        border-radius: 6px;
        font-size: 14px;
        line-height: 16px;
    }
    .right-group__text-menu{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 30px;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: -0.3px;
        color: var(--text-title);
    }
    .group-1 {
        background: none;
        padding: 60px 100px 119px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 8px;
    }
    .group-1__left{
        flex: 0 0 593px;
    }
    .group-1__left > h2{
        font-size: 70px;
        line-height: 80px;
        text-align: left;
        margin: 0 0 30px;
    }
    .group-1__text{
        font-size: 16px;
        line-height: 26px;
        margin: 0 0 40px;
    }
    .group-1__list{
        gap: 130x;
        margin: 0 0 40px;
    }
    .group-1__list > li{
        padding-left: 30px;
        background-position: 1px 0px;
        background-size: 22px 22px;
        font-size: 16px;
        line-height: 24px;
    }
    .group-1__button {
        padding: 15px 22px;
        box-shadow: 16px 16px 60px rgba(179, 94, 90, 0.4);
        margin: 0;
    }
    .group-1__button__header {
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 6px;
    }
    .group-1__button__text {
        font-size: 14px;
        line-height: 22px;
    }
    .group-1__right{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-end;
        flex: 0 0 639px;
        height: 540px;
        background: url(./assets/Group-1-bg-desktop_2.png), url(./assets/Group-1-bg-desktop_2.png), url(./assets/Group-1-bg-desktop_1.png), url(./assets/Group-1-bg-desktop_3.png), url(./assets/Group-1-bg-desktop_4.svg);
        background-position: top -50px right 197px, top 0 right 117px, bottom 0 left 0, top 406px right 20px, top 0 right 0;
        background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
        background-size: 44px 190px, 44px 190px, 560px 463px, 80px 80px, 578px 506px;
    
    }
    .group-1__right-text {
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        color: var(--text-title);
    }
    .group-2 {
        background: url(./assets/group-2-bg.svg), linear-gradient(180deg, #FFFFFF 71.75%, rgba(255, 255, 255, 0) 97%);
        background-position: top 71px right 139px, center;
        background-repeat: no-repeat, no-repeat;
        background-size: 487px 458px, 100%;
        padding: 165px 100px;
        margin: 0 0 110px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        gap: 70px;
    }
    .group-2__annotation {
        margin: 0;
        flex: 0 0 430px;
    }
    .group-2__annotation__header {
        font-size: 40px;
        line-height: 50px;
        margin: 0 0 23px;
    }
    .group-2__annotation__transcription {
        font-size: 16px;
        line-height: 26px;
        margin: 0 0 23px;
    }
    .group-2__annotation__text {
        font-size: 16px;
        line-height: 28px;
        margin: 0 0 23px;
    }
    .group-2__annotation__line{
        display: block;
        width: 100px;
        height: 12px;
        border-radius: 100px;
        background-color: var(--brand-primary);
    }
    .group-2__slides{
        flex: 0 0 740px;
    }
    .group-2__slide-1, .group-2__slide-2 {
        background-image: url(./assets/ic_dots.png), linear-gradient(117.78deg, #F9A8A5 34.55%, #E28A86 79.96%);;
    }
    .group-2__slide-1__header, .group-2__slide-2__header {
        font-size: 90px;
        line-height: 100px;
        margin: 0 0 14px;
    }
    .group-2__slide-1__footnote, .group-2__slide-2__footnote {
        font-size: 10px;
        line-height: 22px;
    }
    .group-3 {
        display: grid;
        grid-template: auto auto / 1fr 1fr;
        gap: 110px 170px;
        padding: 0 100px 0;
        margin: 0 0 168px;
        background-image: url(./assets/group-3-bg.svg);
        background-position: top 300px left 211px;
        background-size: 534px 530px;
        background-repeat: no-repeat;
    }
    .group-3__header {
        grid-column: span 2;
    }
    .group-3__header__text {
        margin: 0 0 40px;
        font-size: 70px;
        line-height: 80px;
    }
    .group-3__header__footnote {
        display: block;
        font-size: 16px;
        line-height: 26px;
    }
    .group-3__panels {
        margin: 0;
    }
    .group-3__text {
        padding-bottom: 36px;
        background-image: url(./assets/group-3-bg.svg);
        background-position: bottom right;
    }
    .group-3__text__line {
        display: block;
        position: static;
        margin-bottom: 30px;
        width: 100px;
        height: 12px;
    }
    .group-3__text__header {
        margin: 0 0 55px;
    }
    .group-3__text__anotation {
        margin: 0 0 55px;
    }
    .group-4 {
        padding: 0 100px;
        overflow: visible;
        background: url(./assets/Group4-bg-800px.svg), url(./assets/Group4-bg-desktop.svg);
        background-repeat: no-repeat, no-repeat;
        background-size: 148px 121px, 389px 386px;
        background-position: bottom 163px left 49px, right 105px bottom 179px;
    }
    .group-4-line {
        display: block;
        margin: 0 0 30px;
        position: static;
        width: 100px;
        height: 12px;
        border-radius: 100px;
    }
    .group-4__header {
        margin: 0 0 80px;
        font-size: 40px;
        line-height: 54px;
    }
    .group-4__panels {
        gap: 48px;
        grid-template: 1fr 1fr / repeat(4, 1fr);
    }
    .group-4__panel {
        padding: 30px 22px 32px;
        box-shadow: 50px 50px 60px rgba(85, 85, 85, 0.08);
    }
    .group-4__panel__picture {
        width: 77px;
        height: 77px;
        margin: 0 auto 22px;
    }
    .group-4__panel__picture > img {
        object-fit: contain;
    }
    .group-4__panel__text {
        font-size: 26px;
        line-height: 40px;
    }
    .group-5 {
        padding: 170px 100px 255px;
        margin: 0 0 201px;
        background: url(./assets/Group_5_bg.svg), url(./assets/Group_5_bg_2.svg);
        background-position: top 150px right 110px, bottom left;
        background-repeat: no-repeat, no-repeat;
        background-size: 109px 121px, 398px 755px;
    }
    .group-5__header {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .group-5__header__title {
        margin: 0 0 16px 285px;
        font-size: 40px;
        line-height: 54px;
        align-self: flex-start;
    }
    .group-5__header__title > br {
        display: none;
    }
    .group-5__header__anotation {
        margin: 0 0 80px;
        font-size: 16px;
        line-height: 26px;
    }
    .group-5__slides {
        display: grid;
        grid-template: auto / repeat(4, 1fr);
        gap: 48px;
    }
    .group-5__slide__picture {
        position: relative;
        width: 100%;
        border-radius: 16px;
        margin: 0 auto 26px;
        overflow: hidden;
        box-shadow: 22px 22px 34px rgba(0, 0, 0, 0.12);
    }
    .group-5__slide__name {
        margin: 0 0 4px;
        font-size: 18px;
        line-height: 28px;
    }
    .group-5__slide__position {
        margin: 0 0 4px;
        font-size: 14px;
        line-height: 22px;
    }
    .group-5__slide__status {
        font-size: 14px;
        line-height: 22px;
    }
    .group-6 {
        position: absolute;
        width: 660px;
        bottom: 421px;
        right: 140px;
        padding: 0;
        text-align: left;
        margin: 0;
    }
    .group-6__slide__mobile{
        display: none;
    }
    .group-6__slide__tablet{
        display: flex;
        flex-direction: row;
        justify-content: stretch;
        gap: 30px;
    }
    .group-6__title {
        margin: 0 0 3px;
    }
    .group-6__header {
        margin: 0 0 40px;
        font-size: 40px;
        line-height: 54px;
    }
    .group-6__slide-left {
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    .group-6__slide-left > div {
        position: relative;
    }
    .group-6__slide-left > div:first-child::after {
        content: '';
        position: absolute;
        right: 8px;
        bottom: 10px;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: var(--brand-primary);
    }
    .group-6__slide-left > div:first-child::before {
        content: '';
        position: absolute;
        right: 3px;
        top: 1px;
        width: 62px;
        height: 18px;
        background-image: url(./assets/Group6-img-bg.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 62px 18px;
    }
    .group-6__slide__picture {
        position: relative;
        width: 180px;
        height: 180px;
        border: 3px solid #FFEEEE;
        border-radius: 50%;
        border-top-left-radius: 0;
        overflow: hidden;
    }
    .group-6__slide__picture > img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .group-6__slide__text {
        padding: 12px 0 12px 19px;
        display: flex;
        flex-direction: column;
    }
    .group-6__slide__header {
        margin-bottom: 0;
        font-size: 18px;
        line-height: 28px;
    }
    .group-6__slide__anotation {
        font-size: 12px;
        line-height: 18px;
    }
    .group-6__text {
        margin: 0 0 16px;
        font-size: 16px;
        line-height: 28px;
    }
    .group-6__next {
        font-size: 14px;
        line-height: 16px;
        vertical-align: middle;
    }
    .footer__mobile {
        display: none;
    }
    .foote__tablet{
        background-color: transparent;
        border-top-right-radius: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-end;
        gap: 0;
    }
    .footer-left{
        box-sizing: border-box;
        padding: 80px 100px 80px;
        flex: 0 1 340px;
        background-color: var(--brand-primary);
        border-top-right-radius: 90px;
        color: var(--reset-color);
    }
    .footer-logo {
        width: 237px;
        height: 50px;
        margin: 0 0 30px;
    }
    .footer-text {
        width: 340px;
        margin: 0 0 42px;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: -0.3px;
    }
    .footer-text > br {
        display: none;
    }
    .footer-text > span:first-child {
        font-weight: 700;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: -0.3px;
    }
    .footer-text > span:last-child {
        font-style: italic;
    }
    .footer-support {
        width: 142px;
        height: 34px;
        margin: 0 0 14px;
        opacity: 0.6;
    }
    .footer-support > img {
        width: 100%;
        height: 100%;
    }
    .footer-copyright {
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: -0.3px;
    }
    .footer-copyright > span {
        font-weight: 700;
    }
    .footer-right-about{
        margin-left: 100px;
    }
    .footer-right-support {
        margin-left: 80px;
    }
    .footer-right-about, .footer-right-support {
        color: var(--text-caption);
        margin-top: 0;
        margin-bottom: 80px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 14px;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: -0.3px;
    }
    .footer-right-about > div:first-child, .footer-right-support > div:first-child {
        color: var(--brand-primary);
        margin-bottom: 30px;
    }
}